/* Theme Common Element List */
/* ............................ */

/* Colors:: */
/* ========= */
/* Primary Light Color: #615DFA // rgb(97,93,250) */
/* Primary Dark Color: #5854EF // rgb(88,84,239) */
/* Messenger Color: #5EDFFF // rgb(94,223,255) */

/* Fonts:: */
/* ======== */
/* Primary Font: Roboto */

/* ----------------------------------------------------------------------- */

/* ============
CSS Variable 
=============*/
:root {
	--tplc: #615DFA;
	--tpdc: #4b46da;
	--mplc: #5EDFFF;
	--tpff: "Roboto, Sans-serif";
}

/* ====================
Theme Common Styles 
======================*/
.theme-primary-lt-bg {
	background-color: var(--tplc) !important;
	font-family: var(--tpff) !important;
	color: #fff !important;
	font-weight: 600 !important;
	font-family: 'Roboto';
}

.theme-primary-lt-text {
	color: var(--tplc);
}

.theme-primary-drk-bg {
	background-color: var(--tpdc) !important;
	font-family: var(--tpff) !important;
	color: #fff !important;
	font-weight: 600 !important;
	font-family: 'Roboto';
}

.theme-primary-drk-text {
	color: var(--tpdc);
}

.messenger-primary-lt-bg {
	background-color: var(--mplc);
	font-family: var(--tpff);
	color: #fff;
	font-weight: 600;
}

/* Global Styles */

* {
	font-family: 'Roboto';
}

body {
	background-color: #f2f2f2;
}

/* Buttons Styles */
.theme-primary-btn {
	background-color: var(--tplc) !important;
	font-family: var(--tpff) !important;
	color: #fff !important;
	font-weight: 600 !important;
	font-family: 'Roboto' !important;
}

.theme-primary-btn:hover {
	background-color: var(--tpdc) !important;
}

.loginBtn {
	margin: 20px 0 !important;
	width: 100%;
	border-radius: 20px !important;
	padding: 8px 0 !important;
	background-color: var(--tplc) !important;
}

.loginBtn:hover {
	background-color: var(--tpdc) !important;
}

.registerSwitchBtn {
	margin: 20px 0 !important;
	width: 100%;
	border-radius: 20px !important;
	padding: 8px 0 !important;
	background-color: transparent !important;
	border: 1px solid #666 !important;
	color: #666 !important;
	text-decoration: none !important;
}

.registerSwitchBtn:hover {
	background-color: #666 !important;
	color: #fff !important;
}